/* Amount Button Panel */
button.amounts {
  padding: 1px;
  border-radius: 0.3rem;
  width: 3.5rem;
  margin: -0.1rem;
  position: relative;
}

button.left {
  padding: 1px;
  border-top-left-radius: 50px;
  width: 3.5rem;
  margin: -0.1rem;
}

button.right {
  padding: 1px;
  border-bottom-right-radius: 50px;
  width: 3.5rem;
  margin: -0.1rem;
}

.container.amountButtons {
  background-color: rgba(0, 0, 0, 0);
  font-family: "IBM Plex Mono", monospace;
  margin-top: -20px;
  margin-left: 235px;
}

/* Drop down menus for assets */
select.asset.top {
  padding: 10px;
  width: 150px;
  text-align: center;
  position: relative;
  top: -5.0rem;
  left: 7rem;
  margin-bottom: -2rem;
  padding: unset;
  font: inherit;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

select.asset.bottom {
  padding: 10px;
  width: 150px;
  text-align: center;
  position: relative;
  top: -3.5rem;
  right: -11rem;
  margin-bottom: -2.0rem;
  padding: unset;
  font: inherit;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

/* Available Balance, thingy */
.availBalance {
  font-size: 0.95rem;
  font-style: italic;
  position: relative;
  top: -1.2rem;
  text-align: left;
  margin-left: 11rem;
}

/* Asset Full Name */
.assetHome {
  font-size: 0.95rem;
  font-style: italic;
  position: relative;
  top: -2.5rem;
  text-align: left;
  margin-left: 7.5rem;
}

.assetHome.bottom {
  font-size: 0.95rem;
  font-style: italic;
  position: relative;
  top: -1.0rem;
  text-align: right;
  margin-right: -0.5rem;
}

/* Cards for BG for each asset */
.container.assetCards {
  display: grid;
  background-color: rgba(0, 0, 0, 00);
  text-align: center;
  margin: 0.5rem;
  position: relative;
  top: -1.6rem;
}

.assetCard {
  display: grid;
  background: #2c1752;
  border-radius: 2rem;
  margin-top: 1.6rem;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

/* Token Image Style */
.tokenImage.top {
  border-radius: 100px;
  width: 100px;
  position: relative;
  top: -25px;
  margin-bottom: -2.0rem;
  background-color: rgba(255, 0, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

.tokenImage.bottom {
  border-radius: 100px;
  width: 100px;
  position: inherit;
  justify-self: right;
  margin-right: -140px;
  margin-top: -10px;
  margin-bottom: -1.5rem;
  background-color: rgba(255, 0, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

/* Form Inputs (token amount) */
#input_tokenAmount {
  width: 300px;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5rem;
  position: relative;
  left: 270px;
  margin-top: -5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 40px;

}

#input_tokenAmountOut {
  width: 300px;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5rem;
  border: none;
  position: relative;
  right: 8rem;
  top: 0.2rem;
  margin-top: -4rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

/* FA SVG adjustments to rotate arrows */
.svg-inline--fa.fa-rotate.fa-3x {
  justify-self: center;
  position: relative;
  top: 0.7rem;
  margin-top: -1.7rem;
  margin-bottom: -1.6rem;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.svg-inline--fa.fa-rotate.fa-3x:hover {
  transform: rotate(0.75turn);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Tabber style components 
    Basic */
.tabberInfoWrap {
  border-radius: 2.0rem;
  height: auto;
  text-align: right;
  margin-top: 1.0rem;
  background-color: #2c1752;
}

.tabberCardBasic {
  padding: 0.5rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 0, 255, 0.25);
  width: 10rem;
}

.tabberCardAdvanced {
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 0, 255, 0.25);
  width: 10rem;
}

.tabberCardBasic:hover,
.tabberCardBasic:active,
.tabberCardAdvanced:hover,
.tabberCardAdvanced.active {
  background-color: rgba(0, 0, 0, 00);
  border-color: rgba(255, 0, 255, 0.25);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

/* Basic Info Table */
table {
  width: 90%;
  border-collapse: collapse;
  margin-left: 40px;
  margin-bottom: 5px;
  background-color: #2c1752;
}

td {
  padding: 1px;
}

tr.output {
  border-bottom: 1px solid;
}

td.number {
  font-family: "IBM Plex Mono", monospace;
}