@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter&family=Poppins');

/* Root Variable Guide */
:root {
  /* Default Colors as HEX Code */
  --colorNotSoWhite: #f0f0f0;
  --colorJasonBlu: #3c356d;
  --colorArcBurg: #211321;
  --colorOsmoWosmo: #462daf;
  --colorOsmoIon: #2994d0;
  --colorOsmoAmmelia: #ca2ebd;
  --colorOsmoBullish: #29d0b2;
  --colorOsmoBearish: #c6451c;
  --colorOsmoVerse: #140f34;
  /* Default Font-Families */
  --fontNumbers: "IBM Plex Mono", monospace;
  --fontText: "Inter", sans-serif;
  --fontHeadings: "Poppins", sans-serif;
}
@keyframes shake {
  0%   {transform: rotate(0.0turn)}
  25% {transform: rotate(0.15turn)}
  50% {transform: rotate(-0.10turn)}
  75% {transform: rotate(0.05turn)}
  100% {transform: rotate(0.0turn)}
}

/* Spinner Animation */
@keyframes spinner {
  0%   {color: var(--colorNotSoWhite); transform: rotate(0.0turn); right: 25vw;}
  25% {color: var(--colorOsmoAmmelia); transform: rotate(0.25turn); right: 10vw;}
  50% {color: var(--colorOsmoBullish); transform: rotate(0.5turn); right: 0vw;}
  75% {color: var(--colorOsmoBullish); transform: rotate(0.75turn); right: -10vw;}
  100% {color: var(--colorOsmoAmmelia); transform: rotate(1.0turn); right: -25vw;}
}

/* Mask Animation */
@keyframes mask {
  0%   {background-color: rgba(20, 15, 52, 0.0);}
  25% {background-color: rgba(20, 15, 52, 0.50);}
  50% {background-color: rgba(0, 0, 0, 0.75);}
  75% {background-color: rgba(20, 15, 52, 0.50);}
  100% {background-color: rgba(20, 15, 52, 0.0);}
}

/* Border Boxing it up */
* {
  box-sizing: border-box;
}

/* Hiding elements with a quick */
.hidden {
  display: none;
}

/* Setting the default bg color */
body {
  display: flex;
  background-color: var(--colorArcBurg);
}

/* Basic Containers for Elements */
.container {
  background-color: var(--colorOsmoVerse);
  font-size: 1.25em;
  color: var(--colorNotSoWhite);
  text-align: center;
  padding: 0.85rem;
  margin: 1.0rem;
}
/* TODO: Make reactive to screen size */
.container.card {
  box-shadow: 1px 2px 1px rgba(2, 2, 2, 0.8);
  border-radius: 12px;
  width: 650px;
}

/* All the Buttons */
button {
  font: var(--fontHeadings);
  border-color: var(--colorJasonBlu);
  border-width: 1px;
  border-style: solid;
  background-color: var(--colorOsmoWosmo);
  color: var(--colorNotSoWhite);
  padding: 0.25rem 1.5rem;
  border-radius: 1.0rem;
  margin: 0.5rem;
  /* width: 12rem; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.26) -5px 5px 10px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
button:focus {
  outline: none;
}
button:hover,
button:active,
button.active {
  background-color: var(--colorOsmoIon);
  border-color: var(--colorOsmoWosmo);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.26) 5px -5px 10px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

/* Text Elements */
.subtitle {
  font-style: italic;
  font-variant-caps: unicase;
  font-family: var(--fontNumbers);
  color: var(--colorOsmoAmmelia);
  margin-top: 1.0rem;
}
#pageTitle {
  font-weight: 900;
  margin-right: 4.0rem;
  color: var(--colorOsmoIon);
}
a {
  color: var(--colorOsmoAmmelia);
  text-decoration-line: none;
}
a:hover {
  color: #e658cf;
  text-decoration-style: double;
  text-decoration-line: underline;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

/* Loading Mask */
#mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  animation-name: mask;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
}
/* Box for content */
#mask div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(-50%, 0);
  z-index: 100;
  border-radius: 2.5rem;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1.0rem;
  margin: 0;
  overflow: hidden;
  background-color: var(--colorOsmoWosmo);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

#ul-gamms {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Basic form elements */
input {
  padding: 8px;
  font-size: 14pt;
  text-align: center;
  border-radius: 12px;
  font: inherit;
  padding: 0.5rem 1rem;
}

#input_gammAmount {
  width: 250px;
}

select {
  padding: 8px;
  font-size: 14pt;
  text-align: center;
  border-radius: 12px;
  font: inherit;
  border: 1px solid #322dc2;
  background-color: #322dc2;
  color: var(--colorNotSoWhite);
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

option {
  font-size: 12pt;
  padding: 1rem 2rem;
}

#btn_bond_1d {
  background-color: hsl(295, 73%, 22%);
}
#btn_bond_1d:hover,
#btn_bond_1d:focus {
  background-color: hsl(295, 73%, 24%);
}
#btn_bond_7d {
  background-color: hsl(295, 73%, 30%);
}
#btn_bond_7d:hover,
#btn_bond_7d:focus {
  background-color: hsl(295, 73%, 32%);
}
#btn_bond_14d {
  background-color: hsl(295, 73%, 36%);
}
#btn_bond_14d:hover,
#btn_bond_14d:focus {
  background-color: hsl(295, 73%, 38%);
}

#errorMsg {
  background-color: var(--colorOsmoBearish);
}